.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  align-items: center;
  width: 350px;
  height: 350px;
  margin: 50px auto 0;
  padding: 30px;
  border: 1px solid #ff5d6c;
  border-radius: 200px;
  font-family: sans-serif;
}

.title {
  grid-column: 1 / 7;
  grid-row: 1;
  overflow-wrap: anywhere;
  text-align: center;
}

#break-label {
  grid-column: 1 / 4;
}

#session-label {
  grid-column: 4 / 7;
}

#break-label,
#session-label {
  grid-row: 2;
  padding: 16px;
  text-align: center;
  color: #b5b4b4;
  font-size: 14px;
}

.break-decrement {
  grid-column: 1/2;
  grid-row: 3;
  text-align: right;
}

.break-length {
  grid-column: 2/3;
  grid-row: 3;
  text-align: center;
}

.break-increment {
  grid-column: 3/4;
  grid-row: 3;
  text-align: left;
}

.session-decrement {
  grid-column: 4/5;
  grid-row: 3;
  text-align: right;
}

.session-length {
  grid-column: 5/6;
  grid-row: 3;
  text-align: center;
}

.session-increment {
  grid-column: 6/7;
  grid-row: 3;
  text-align: left;
}

.break-increment,
.break-decrement,
.session-increment,
.session-decrement,
.start_stop,
.reset {
  cursor: pointer;
}

.timer-label {
  grid-column: 1/7;
  grid-row: 4;
  color: #ff5d6c;
}

.time-left {
  grid-column: 1/7;
  grid-row: 5;
  font-size: 60px;
}

.start_stop {
  grid-column: 3/4;
  grid-row: 6;
}

.reset {
  grid-column: 4/5;
  grid-row: 6;
}

.reset,
.start_stop {
  margin-top: 20px;
  text-align: center;
}
